Dan Espen <despen@verizon.net> dane <dane>
Dominik Vogt <dominik.vogt@gmx.de> domivogt <domivogt>
Mikhael Goikhman <migo@homemail.com> migo <migo>
Olivier Chapuis <olivier.chapuis@free.fr> olicha <olicha>
Scott Smedley <ss@aao.gov.au> scott <scott>
Thomas Adam <thomas@fvwm.org> tadam <tadam>
Viktor Griph <griph@dd.chalmers.se> griph <griph>
Viktor Griph <viktor.griph@gmail.com > griph <griph>
Viktor Griph <viktor@griph.se> griph <griph>
